<template>
	<b-card bg-variant="light" class="text-left">
		<b-form-group label-cols-lg="2" :label="linkLabel" label-size="lg" label-class="font-weight-bold pt-0" class="mb-0">
			<b-form-group label="Type:" label-cols-sm="3" label-align-sm="right">
				<b-form-radio-group class="pt-2" :options="typeOptions" v-model="type"></b-form-radio-group>
			</b-form-group>

			<b-form-group label="API:" label-cols-sm="3" label-align-sm="right" >
				<b-form-radio-group class="pt-2" :options="apiOptions" v-model="api"></b-form-radio-group>
			</b-form-group>

			<b-form-group v-if="type == 'serial'" label="Path:" :label-for="'link-path' + slug" label-cols-sm="3" label-align-sm="right">
				<b-form-input :id="'link-path' + slug" v-model="path"></b-form-input>
			</b-form-group>

			<b-form-group v-if="type == 'serial'" label="Baudrate:" :label-for="'link-baudrate' + slug" label-cols-sm="3" label-align-sm="right">
				<b-form-input :id="'link-baudrate' + slug" v-model="baudrate"></b-form-input>
			</b-form-group>

			<b-form-group v-if="type == 'tcp'" label="IP:" :label-for="'link-ip' + slug" label-cols-sm="3" label-align-sm="right">
				<b-form-input :id="'link-ip' + slug" v-model="ip"></b-form-input>
			</b-form-group>

			<b-form-group v-if="type == 'tcp'" label="Port:" :label-for="'link-port' + slug" label-cols-sm="3" label-align-sm="right">
				<b-form-input :id="'link-port' + slug" v-model="port"></b-form-input>
			</b-form-group>

			<b-form-group label="" :label-for="'link-save' + slug" label-cols-sm="3" label-align-sm="right" class="mb-0">
				<b-button block :id="'link-save' + slug" @click="saveLink">Save</b-button>
			</b-form-group>
		</b-form-group>
	</b-card>
</template>

<script>
export default {
	name: 'CommunicationLinkConfig',
	props: {
		linkLabel: String,
		slug: String,
	},
	data () {
		return {
			id: null,
			type: "",
			api: "",
			path: "",
			baudrate: "",
			ip: "",
			port: "",
			typeOptions: ["serial", "tcp"],
			apiOptions: ["digiApi", "none"],
		}
	},
	mounted () {
		this.id = this._uid
	},
	sockets: {
		OnboardLinks(data) {
			if(this.linkLabel in data) {
				this.type = data[this.linkLabel].type;
				this.api = data[this.linkLabel].api;

				this.path = data[this.linkLabel].path;
				this.baudrate = data[this.linkLabel].baudrate;

				this.ip = data[this.linkLabel].ip;
				this.port = data[this.linkLabel].port;
			}

			console.log(data);
		}
	},
	methods: {
		saveLink() {
			var link = {};
			link.name = this.linkLabel;
			link.type = this.type;
			link.api = this.api;

			if(link.type == "serial") {
				link.path = this.path;
				link.baudrate = this.baudrate;
			}
			else if(link.type == "tcp") {
				link.ip = this.ip;
				link.port = this.port;
			}

			this.$socket.client.emit('UpdateLink', link);

			console.log(link);
		}
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>