<template>
  <div class="menu">
    <h2>Menu</h2>
	<div>
		<b-nav vertical>
			<b-nav-item disabled>RPI status</b-nav-item>
			<b-nav-item>Initial configuration</b-nav-item>
			<b-nav-item active>Onboard configuration</b-nav-item>
			<b-nav-item disabled>LTE configuration</b-nav-item>
			<b-nav-item disabled>Log download</b-nav-item>
		</b-nav>
	</div>
  </div>
</template>

<script>
export default {
  name: 'Menu',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.menu
{
	height: 100%;
	border-right: gray 1px solid;
}
</style>