<template>
	<div id="app" class="container">
		<div class="row mb-5">
			<div class="col-md-3">
				<img alt="Vue logo" src="./assets/WeR-logo.png">
			</div>
			<div class="col-md-9 d-flex align-items-center">
				<div class="container"><h1>M600 Cargo UP - Configuration tool</h1></div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-2">
				<Menu />
			</div>
			<div class="col-md-10">
				<h2>Onboard application</h2>

				<div class="row px-5">
					<div class="col-sm-12"><h3>Communication</h3></div>
					<div class="col-md-6">
						<CommunicationLinkConfig linkLabel="Direct telemetry" slug="radio"/>
					</div>
					<div class="col-md-6">
						<CommunicationLinkConfig linkLabel="4G link" slug="lte"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import Menu from './components/Menu.vue'
import CommunicationLinkConfig from './components/CommunicationLinkConfig.vue'

export default {
	name: 'App',
	components: {
		Menu,
		CommunicationLinkConfig
	},
	sockets: {
		connect() {
			console.log("Socket connected.");
		},
		disconnect() {
			console.log("Socket disconnected.");
		},
	}
}
</script>

<style>
#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	width: 100%;
	max-width: 100%;
}
</style>
